**/.DS_Store
test.js
askGPT.js
functions.js
TEMPLATE.txt
test.txt
blog.txt
blogarchive/.obsidian
blogarchive/.tmp.driveupload
**/.ztr-directory
askGPT[old].html
[deprecated] blog.txt
gptTemplate.html
md2html.html
strapdown.html
texteditor.html
blogarchive/.tmp.drivedownload
askGPT-async.js