  blog {
      padding-left: 9%;
      padding-right: 9%;
      font-family: var(--font-family);
      line-height: 160%;
      font-size: 110%;
  }

  blog a {
      color: var(--color-secondary);

      display: inline-block;
      font-weight: bold;
      text-decoration: none;
  }

 blog h1 {
      margin-bottom: 1%;
  }

  blog h2 {
      margin-top: 5%;
      margin-bottom: 1%;

  }

  blog h3 {
      font-style: italic;
      color: var(--color-text-secondary);
      font-size: 100%;
      font-weight: 350;
  }

  blog img {
      border-radius: var(--border-radius);
      max-height: 35vh;
      max-width: 79vw;
      margin-left: auto;
      margin-right: auto;
      display: block;
  }

  blog blockquote {
      margin: 0;
      padding: 0 1em;
      color: var(--color-text-secondary);
      border-left: 0.3em solid var(--color-accent);
      font-style: italic;
  }

  blog code,
  samp {
      background-color: var(--color-accent);
      border-radius: var(--border-radius);
      color: var(--color-text);
      display: inline-block;
      margin: 0 0.1rem;
      padding: 0 0.5rem;
  }

  blog form {
      border: transparent;
      border-width: 0px;
  }

  blog form small {
      font-style: italic;
      font-family: monospace;
      align-content: center;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      color: var(--color-text-secondary);
      display: block;
  }